* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
Navbar
*/

.navbar {
    width: 100%;
}

.nav-center {
    width: 100%;
    margin: 0 auto;
}

.nav-header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3em;
}

.nav-logo {
    height: 50px;
}

.web {
    letter-spacing: 4px;
}
/* 
Hero
*/
.hero {
    min-height: 50vh;
    background: url("/Assets/images/hero1.jpg") center/cover no-repeat;
}

/* 
Portfolio
*/

.section {
    padding: 5rem 0;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    /* max-width: 1170px;   */
    display: flex;
    justify-content: space-between;
}

.portfolio-card {
    margin-top: 1.25rem    ;

}

.porfolio-info {
    text-align: center;
    margin-bottom: 1rem;
}

.name {
    text-transform: uppercase;
    border-top: 1.5px solid #0D4B6E;
    padding-top: 0.75rem;
}

.website {
    color: red;
    border-bottom: 3px solid #0D4B6E;
    padding-bottom: 0.75rem;

}

.photo {
    height: 14rem;
    width: 50vh;
    object-fit: cover;  
}

/* 
Footer
*/

ul, li {
    list-style-type: none;
}

.footer {
    background: #3D3D3D;
    text-align: center;
    padding: 2rem;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.footer-icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: #88ebf2 ;
    transition: all 0.3s linear;
}

.footer-icon:hover {
    color: #2caeba;
}

.copyright {
    text-transform: capitalize;
    letter-spacing: ;
    color: white;
}